<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title color="dark">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/manage">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            <ion-label color="dark">Gestionar Usuarios</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="help-circle-outline"></ion-icon>
            <ion-label>Ayuda</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/welcome">
            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
