<ion-content>
  <div class="heading">
    <h1>Bienvenido</h1>
    <p>Por favor inicia sesión para continuar usando la aplicación </p>
  </div>
  <div class="image">
    <img src="/assets/icon/icon.svg" alt="welcome">
  </div>
  <div class="email-login">
    <p>Inicia sesión con tu correo</p>
    <ion-button color="success" class="login" routerLink="/login">Inicia Sesión </ion-button>
  </div>
  <div class="email-login">
    <p>Registrate</p>
    <ion-button color="success" class="login" routerLink="/register">Registrarse </ion-button>
  </div>
</ion-content>
